<head>
	<!--for JQuery plugin-->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
@model IList<PositionViewModel>
<h1>Position List Information</h1>
<a href="/position/entry" class="btn btn-success">Entry</a>
<table class="table table-hover" id="positionTable">
	<thead class="table-dark">
		<tr>
			<th scope="col">No</th>
			<th scope="col">Position Code</th>
			<th scope="col">Description</th>
			<th scope="col">Level</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	@{
		int i = 1;
	}
	<tbody>
		@foreach (var position in Model)
		{
			<tr>
				<td scope="row">@i</td>
				<td>@position.Code</td>
				<td>@position.Description</td>
				<td>@position.Level</td>
				<td>
					<a href="/position/Edit?id=@position.Id" class="btn btn-success">Edit</a>
					<a href="javascript:void(0)" class="btn btn-danger" data-id="@position.Id" data-description="@position.Description">Delete</a>
				</td>
			</tr>
			i++;
		}
	</tbody>
</table>
<!-- Include the JavaScript file -->
<script src="~/js/position.js"></script>
<script>
	$(document).ready(function () {
		$('#positionTable').DataTable();
	});
</script>